---
import Layout from "@/layouts/Layout.astro";
import { MediumService } from '../../services/mediumService';
import HeaderText from "../../components/svelte/HeaderText.svelte";

const mediumService = new MediumService();
const username = 'parth-sinha';
const articles = await mediumService.getArticles(username);
const hasArticles = articles.length > 0;
---

<Layout title="Blogs">
    <main class="psContainer">
        <div class="psBlogCon"></div>
        <div class="psBlogConInner">
            <HeaderText client:load title="Medium Articles"/>

            {hasArticles ? (
                <div class="psGrid">
                    {articles.map(article => (
                        <article class="psGridCard">
                            <a href={article.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="block p-6 h-full group"
                            aria-label={`Read ${article.title}`}
                            >
                                <h2 class="psCardName">
                                    {article.title}
                                </h2>
                                
                                <time datetime={article.pubDate} class="psCardDate">
                                    {article.formattedDate}
                                </time>
                                
                                {article.categories.length > 0 && (
                                    <div class="psCardXT">
                                        {article.categories.map(category => (
                                            <span class="psCardTags">
                                                {category}
                                            </span>
                                        ))}
                                    </div>
                                )}
                            </a>
                        </article>
                    ))}
                </div>
            ) : (
            <div class="psNoRepo">
                <p class="psNoRepoText">
                    No articles found. Please check the username or try again later.
                </p>
            </div>
            )}
        </div>
    </main>
</Layout>